<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html ng-app="hunzaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>GERRH</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!--<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/abas.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">-->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="angular-motion/angular-motion.css">
    <link rel="stylesheet" href="css/dash.css">

    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>

    <!--<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>-->


    <script src="js/vendor/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <!--<script type="text/javascript" src="js/lib/angular.min.js"></script>-->
    <script type="text/javascript" src="js/lib/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular-strap.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-strap.tpl.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mask.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.maskMoney.min.js"></script>
    <script type="text/javascript" src="js/services/secretaria_service.js"></script>
    <script src="js/controllers/secretaria_controller.js"></script>
    <script type="text/javascript" src="js/services/unidade_service.js"></script>
    <script src="js/controllers/unidade_controller.js"></script>
    <script type="text/javascript" src="js/services/simbologia_service.js"></script>
    <script src="js/controllers/simbologia_controller.js"></script>
    <script type="text/javascript" src="js/vendor/abas.js"></script>
</head>
<body>
<header></header>
<div id="sw-main">
    <div class="navbar navbar-default navbar-static-top" ng-controller="TopBar" style="margin-top:-50px">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-class="{collapsed:Collapse}" ng-click="Collapse=!Collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--button type="button" class="square">
            <i></i>
        </button-->
        <div class="collapse navbar-collapse" ng-class="{in:Collapse}">

            <ul class="nav navbar-nav">
                <li ng-if="menu.href"><a href="#" ng-click="Data.newTab(item.href)" > {{menu.label}}</a></li>
                <li ng-repeat="menu in Data.conf.menuBar" ng-if="menu.dpdown" class="dropdown">
                    <a href="#" bs-dropdown="menu" data-template="tab/tab.tpl.html"> {{menu.label}}<span class="caret"></span></a>
                </li>
            </ul>

        </div>
        <div class="navbar-right"></div>
    </div>
    <div id="content" class="ngTabs" ng-controller="Tabs" >
        <ul class="nav nav-tabs ngNav">
            <li ng-repeat="tab in Data.tabs" class="ngTab" ng-class="{active : Data.tabIndex == tab.i}">
                <a ng-click="Data.tabIndex = tab.i" href="#">{{tab.title}}</a>
                <span class="close" ng-if="!tab.fix" ng-click="Data.closeTab(tab.i)">&times;</span>
            </li>
        </ul>

        <div class="tab-container ngCont sw">
            <div ng-repeat="tab in Data.tabs" ng-show="Data.tabIndex == tab.i"  class="tab-content" ng-class="{'active' : Data.tabIndex == tab.i}" ng-include="tab.url">Carregando...</div>
        </div>
    </div>
</div>
</body>
</html>
</html>
