<head>


	<script>

		// chama uma função no controller  apartir do javascript
		function habilitaSimbologia(){

		    var tipoCargo = document.getElementById('tipoCargo').value;

		    if(tipoCargo == 4) {


                angular.element(document.getElementById('tipoCargo')).scope().getSimbologias();
                document.getElementById("div_simbologias").style.display="block";

            }else{

                document.getElementById("div_simbologias").style.display = "none";
			}

            if(tipoCargo == 1) {

                angular.element(document.getElementById('tipoCargo')).scope().getSimbologias();
                document.getElementById("table_referencias").style.display="block";

            }else{

                document.getElementById("table_referencias").style.display = "none";
            }
		}


        $(document).ready(function(){
            $("#salarioBase").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});

        });


	</script>


</head>
<div ng-app="myApp" ng-controller="CargoController as ctrl">


<div id="content" ng-init="Data.tabs[$parent.tab.i].title='Cadastrar Cargo'">

				<div class="container">

					<div class="row">
						<div class="col-xs-11">
							<div class="page-header">
								<h2>Cadastrar Cargo</h2>
							</div>
							<!-- Inputs -->
							<form role="form" ng-submit="ctrl.submit()">
								<div class="row">

									<div class="col-xs-4">

										<label style="font-family: Calibri;
                                font-weight: bold;text-transform: uppercase">Nome</label>
										<input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="nome"
											   ng-model="ctrl.cargo.nome" required ng-disabled="show">

									</div>

									<div class="col-xs-2">
										<label style="font-family: Calibri;
                                				font-weight: bold;text-transform: uppercase">Salário Base</label>
										<input id="salarioBase" class="form-control" type="text" placeholder="" required
											   ng-disabled="show" title="Salario Base. Ex: 8899999999 "
											   bs-tooltip ng-model="ctrl.cargo.salarioBase" >

									</div>

									<div class="col-xs-3">
										<label for="tipoCargo">Tipo de Cargo:</label>
										<select id="tipoCargo" name="tipoCargo" class="form-control" onchange="habilitaSimbologia()">
											<option value="0">Selecione...</option>
											<option value="1">Efetivo</option>
											<option value="2">Eletivo</option>
											<option value="3">Temporário</option>
											<option value="4">Comissionado</option>
											<option value="5">Estatuário</option>
										</select>
										<span class="help-block">&nbsp;</span>
									</div>

									<div class="col-xs-3">

										<label style="font-family: Calibri;
                                		font-weight: bold;text-transform: uppercase">Qtd. vagas</label>
										<input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="number" maxlength="40" class="form-control input-sm"
											   id="quantidade"
											   ng-model="ctrl.cargo.quantidade" required ng-disabled="show">

									</div>
									<br>



									<!--<select name="simbologias" ng-model="simbologiasId">
										<option ng-repeat="item in simbologias" value="{{item.cdSimbologia}}">{{item.nomeclatura}}</option>
									</select>-->

								</div>

								<div class="row">

									<div class="col-xs-3">
										<label for="escolaridade">Escolaridade:</label>
										<select id="escolaridade" name="escolaridade" class="form-control">
											<option value="Fundamental incompleto">Fundamental incompleto</option>
											<option value="Fundamental completo">Fundamental completo</option>
											<option value="Médio incompleto">Médio incompleto</option>
											<option value="Médio completo">Médio completo</option>
											<option value="Superior">Superior</option>
											<option value="Outros">Outros</option>
										</select>
										<span class="help-block">&nbsp;</span>
									</div>


									<div class="col-xs-3">

										<label style="font-family: Calibri;
                                font-weight: bold;text-transform: uppercase">Carga Horária Semanal</label>
										<input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="number" maxlength="2" class="form-control input-sm"
											   id="cargaHoraria"
											   ng-model="ctrl.cargo.cargaHoraria" required ng-disabled="show">

									</div>


									<div class="col-xs-3">
										<label for="grupoOcupacional">Grupos Ocupacionais:</label>
										<select id="grupoOcupacional" name="grupoOcupacional" class="form-control">
											<option value="1">ANS - Atividades de nível superior</option>
											<option value="2">AAD - Atividades de apoio administrativo</option>
											<option value="3">AAO - Atividades de apoio operacional</option>
											<option value="4">Outros</option>
										</select>
										<span class="help-block">&nbsp;</span>
									</div>

									<div class="col-xs-3" id="div_simbologias" style="display: none">
										<label for="simbologias">Simbologias:</label>
										<select ng-model="selectedSimbologia" id="simbologias" name="simbologias" class="form-control"
												ng-options="item.cdSimbologia as item.nomeclatura for item in simbologias">
											<option value="">Selecione</option>
										</select>
										<span class="help-block">&nbsp;</span>
									</div>


								</div>


								<div class="row" id="table_referencias" style="display: none">

									<table class="table table-bordered">
										<thead>
										<tr>
								<th>Classe</th>
								<th>Referência Min.</th>
								<th>Referência Max.</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>I</td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
												   type="text" maxlength="40" class="form-control input-sm"
												   id="classe1ReferenciaMin"
												   ng-model="ctrl.cargo.classe1ReferenciaMin"  ng-disabled="show"></td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe1ReferenciaMax"
											   ng-model="ctrl.cargo.classe1ReferenciaMax"  ng-disabled="show"></td>
								</tr>
								<tr>
									<td>II</td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe2ReferenciaMin"
											   ng-model="ctrl.cargo.classe2ReferenciaMin"  ng-disabled="show"></td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe2ReferenciaMax"
											   ng-model="ctrl.cargo.classe2ReferenciaMax"  ng-disabled="show"></td>
								</tr>
								<tr>
									<td>III</td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe3ReferenciaMin"
											   ng-model="ctrl.cargo.classe3ReferenciaMin"  ng-disabled="show"></td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe3ReferenciaMax"
											   ng-model="ctrl.cargo.classe3ReferenciaMax"  ng-disabled="show"></td>
								</tr>
								<tr>
									<td>IV</td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe4ReferenciaMin"
											   ng-model="ctrl.cargo.classe4ReferenciaMin"  ng-disabled="show"></td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe4ReferenciaMax"
											   ng-model="ctrl.cargo.classe4ReferenciaMax"  ng-disabled="show"></td>
								</tr>
								<tr>
									<td>V</td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe5ReferenciaMin"
											   ng-model="ctrl.cargo.classe5ReferenciaMin"  ng-disabled="show"></td>
									<td><input style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="classe5ReferenciaMax"
											   ng-model="ctrl.cargo.classe5ReferenciaMax"  ng-disabled="show"></td>
								</tr>
								</tbody>
								</table>

								</div>

								<div class="row">


									<div class="col-xs-5">

										<label style="font-family: Calibri;
                                			font-weight: bold;text-transform: uppercase">Atribuições do cargo</label>
										<textarea class="form-control" rows="6" style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
											   type="text" maxlength="40" class="form-control input-sm"
											   id="atribuicoesCargo"
											   ng-model="ctrl.cargo.atribuicoesCargo" required ng-disabled="show"/>

									</div>

									<div class="col-xs-5">

										<label style="font-family: Calibri;
                                			font-weight: bold;text-transform: uppercase">Requisitos de provimento</label>
										<textarea class="form-control" rows="6" style="font-family: Calibri;font-weight: bold;text-transform: uppercase"
												  type="text" maxlength="40" class="form-control input-sm"
												  id="requisitosProvimento"
												  ng-model="ctrl.cargo.requisitosProvimento" required ng-disabled="show"/>

									</div>

								</div>

								<hr>
								<div align="right" class="footer">
									<input type="submit"  ng-disabled="show" value="{{!ctrl.cargo.cdCargo ? 'Cadastrar' : 'Atualizar'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
									<button type="button" ng-disabled="show" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Limpar</button>
								</div>
							</form><!-- Inputs -->
						</div>
					</div>
				</div><!-- container -->
			</div>
</div>