<head>

    <script>


        function habilitaFiltro(){

            var tipoFiltro  = document.getElementById("filtrar").value;

            if(tipoFiltro == 0 || tipoFiltro == 3){

                document.getElementById("filtroNome").style.display="none";
                document.getElementById("filtro_tipo_cargo").style.display="none";

            }

            if(tipoFiltro == 1){

                document.getElementById("filtroNome").style.display="block";
                document.getElementById("filtro_tipo_cargo").style.display="none";

            }

            if(tipoFiltro == 2){

                document.getElementById("filtro_tipo_cargo").style.display="block";
                document.getElementById("filtroNome").style.display="none";

            }


        }

    </script>

</head>
<div ng-app="myApp" ng-controller="CargoController as ctrl">


    <div id="content">

        <div class="container" ng-init="Data.tabs[$parent.tab.i].title='Consultar Cargos'">
            <div class="row">
                <div class="col-xs-11">
                    <div class="page-header">
                        <h2>Cargos</h2>
                    </div>
                    <!-- Inputs -->
                    <form role="form">
                        <div class="row">

                            <div class="col-xs-3">
                                <label for="filtrar">Filtrar por:</label>
                                <select id="filtrar" name="filtrar" class="form-control" onchange="habilitaFiltro();">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Nome</option>
                                    <option value="2">Tipo de Cargo</option>
                                    <option value="3">Todos</option>
                                </select>
                                <span class="help-block">&nbsp;</span>
                            </div>


                            <div class="col-xs-5" id="filtroNome" style="display:none">
                                <label for="dados">Filtro por nome</label>
                                <input id="dados" type="text" placeholder="Digite o nome..." class="form-control"
                                       title=" Ex: Secretaria de Agricultura " bs-tooltip
                                       ng-model="ctrl.cargo.nome"
                                />
                            </div>

                            <div class="col-xs-3" id="filtro_tipo_cargo" style="display: none">
                                <label for="tipoCargo">Tipo de Cargo:</label>
                                <select id="tipoCargo" name="tipoCargo" class="form-control">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Efetivo</option>
                                    <option value="2">Eletivo</option>
                                    <option value="3">Temporário</option>
                                    <option value="4">Comissionado</option>
                                    <option value="5">Estatuário</option>
                                </select>
                                <span class="help-block">&nbsp;</span>
                            </div>


                        </div>

                        <br/><br/>

                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary" ng-click="ctrl.pesquisa()">
                                    Buscar
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="Data.newTab('partials/cargos/cadastrar.html')">
                                    Cadastrar
                                </button>
                            </div>

                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-bordered table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Tipo de Cargo</th>
                                        <th colspan="2" style="margin-left: 2px" width="25px">Operações</th>

                                    </tr>

                                    <tr ng-repeat="cargo in ctrl.cargos | filter:searchDescription">

                                        <td>{{cargo.cdCargo}}</td>
                                        <td>{{cargo.nome}}</td>
                                        <td>{{cargo.descTipoCargo}}</td>

                                        <td>

                                            <button type="button" ng-click="Data.newTab('partials/cargos/editar.html',1,cargo)"
                                                    class="btn btn-small btn-warning">
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </button>

                                            <button type="button" ng-click="ctrl.edit(cargo.cdCargo)"
                                                    class="btn btn-small btn-primary" data-toggle="modal" data-target="#myModal">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>





                                        </td>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="modal" id="myModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" style="padding-top: 70px ">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                       <h4 class="modal-title" id="myModalLabel">Dados do Cargo</h4>
                                    </div>

                                    <div class="modal-body">
                                        <div class="panel panel-default">
                                            <label for="dados">Nome: {{ctrl.cargo.nome}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Tipo de Cargo: {{ctrl.cargo.descTipoCargo}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Quantidade de vagas: {{ctrl.cargo.quantidade}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Escolaridade: {{ctrl.cargo.escolaridade}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Carga Horária: {{ctrl.cargo.cargaHoraria}}H</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Grupo Ocupacional: {{ctrl.cargo.grupoOcupacionalDesc}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Atribuiçoes do Cargo: {{ctrl.cargo.atribuicoesCargo}}</label>
                                        </div>

                                        <div class="panel panel-default">
                                            <label for="dados">Requisitos de Provimento: {{ctrl.cargo.requisitosProvimento}}</label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>






                        <hr>
                        <div align="right" class="footer">
                        </div>

                    </form><!-- Inputs -->
                </div>
            </div>
        </div>
    </div>

</div>